.store-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 24px;
    padding: 16px;
}

.store-item-container {
    display: flex;
    justify-content: center;
}
